<table border="1">
    <tr>
        <td>url: </td>
        <td>
            <%= @serach.url %>
        </td>
    </tr>
    <tr>
        <td>IP: </td>
        <td>
            <%= @serach.ip %>
        </td>
    </tr>
    <tr>
        <td>port: </td>
        <td>
            <%= @serach.port %>
        </td>
    </tr>
    <tr>
        <td>Accept: </td>
        <td>
            <%= @serach.accept %>
        </td>
    </tr>
    <tr>
        <td>Cookie: </td>
        <td>
            <%= @serach.cookies %>
        </td>
    </tr>
    <tr>
        <td>Host: </td>
        <td>
            <%= @serach.host %>
        </td>
    </tr>
    <tr>
        <td>Referer: </td>
        <td>
            <%= @serach.referer %>
        </td>
    </tr>
    <tr>
        <td>User-Agent: </td>
        <td>
            <%= @serach.user_agent %>
        </td>
    </tr>

</table>