
<div class="h3 text-center">
  <p class="alert alert-primary" id="notice">
    <%= notice %>
  </p>
<div>
<table class="table table-sm">
  <thead>
    <tr>
      <th>time</th>
      <th>Url</th>
      <th>Ip</th>
      <th>Port</th>
      <th>Host</th>
      <th>Referer</th>
      <th>Agent</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id='<%= user.id %>'>
        <td title='<%= user.created_at %>'><%= user.created_at.to_s(:short)%></td>
        <td title='<%= user.url %>'><%= link_to user.url.split('/')[3..-1].join('/'), user %></td>
        <td><%= user.ip %></td>
        <td><%= user.port %></td>
        <td><%= user.host %></td>
        <td title='<%= user.referer %>'><%= user.referer.split('/')[3..-1].join('/') %></td>
        <td title='<%=user.agent%>'><%= user.agent[0..25] %></td>
        <td><%= link_to '╳', user, class:"text-danger", data: { method: :delete, remote: true} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users, theme: 'twitter-bootstrap-4'%>