<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-sm">
  <thead>
    <tr>
      <th>time</th>
      <th>Url</th>
      <th>Ip</th>
      <th>Port</th>
      <th>Host</th>
      <th>Agent</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= user.created_at%></td>
      <td><%= link_to user.url, user %></td>
        <td><%= user.ip %></td>
        <td><%= user.port %></td>
        <td><%= user.host %></td>
        <td><%= user.agent[0..50] %></td>
        <td><%= link_to '╳', user, class:"text-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
