<p id="notice"><%= notice %></p>


<p>
  <strong>Url:</strong>
  <%= @user.url %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @user.ip %>
</p>

<p>
  <strong>Port:</strong>
  <%= @user.port %>
</p>

<p>
  <strong>Host:</strong>
  <%= @user.host %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @user.agent %>
</p>
<%= link_to 'Back', users_path %>
